Projektarbeit.aux
Projektarbeit.bbl
Projektarbeit.bcf
Projektarbeit.blg
Projektarbeit.glg
Projektarbeit.glo
Projektarbeit.gls
Projektarbeit.idx
Projektarbeit.ist
Projektarbeit.log
Projektarbeit.run.xml
Projektarbeit.synctex.gz
Projektarbeit.toc
